.body {
   background: wheat;
  background-image:
    radial-gradient(salmon 20%, transparent 0), 
    radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;

}

.first-paragraph {
	color: black;
	text-shadow: 1px 1.5px antiquewhite;
    background-color: rgba(244, 143, 177, .5);
    font-size: 40px;
}

#center-name {
	margin: 0 auto;
    width: 30%;
}

#center-contact {
	margin: 15px auto;
    width: 20%;
    background-color: #add8e694;
}

.header {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}


.center-div {
	text-align: center;
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.border-description {
	font-family: monospace;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.lbl-description {
	color: black;
}	

.topic-div {
	background-color: hotpink;
	color: white;
	padding: 5px;
	text-decoration: none;
	font-family: sans-serif;
	letter-spacing: 7.5px;
	text-shadow: 1px 1px black;
	border-color: hotpink;
}

#topics {
	margin-top: 25px;
	display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
}

.x:hover {
  color: orange;
}

#about:hover {
	font-weight: bold;
	color: black;
	text-shadow: none;
}

#contact:hover {
	font-weight: bold;
	color: black;
	text-shadow: none;
}

#whoami {
	background-color: #ffff004a;
	margin: 0 auto;
	width: 70%
}

#img-cv {
	border-radius: 50%;
	border: 2px solid black;
	margin-bottom: 20px;
	margin-top:20px;
}

.about-me {
	background-image: url("../images/pizarra.jpg");
	border: 1px solid black;
	text-align: center;
	border: 5px solid black;
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
}

.text-about-me {
	font-size: 18px;
	padding: 10px;
	font-family: 'Lato', sans-serif;	
}


.quote-container {
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}


.flex {
	display: flex;
}

.closer {
	margin-right: -100px;
}